
.forms{
	margin: 0 auto;
	width: 80%;
	display: flex;
	flex-direction: column;
	gap: 20px;
	&__title{
		text-align: center;
		font-size: 50px;
		color: #FFF;
	}
	&__input{
		width: 100%;
		font-size: 40px;
		z-index: 1;
		height: 60px;
		padding: 0px 10px;
		position: relative;
	}
	&__box{
		position: relative;
		width: 100%;
		height: 60px;
		transition: 0.3s;
		&.active{
			height: 90px;
			& .varingInput{
				bottom: 0;
			}
		}
	}
	&__data{
		width: 100%;
		height: 50px;
	}

	&__data:in-range::-webkit-datetime-edit-year-field,
	&__data:in-range::-webkit-datetime-edit-month-field,
	&__data:in-range::-webkit-datetime-edit-day-field,
	&__data:in-range::-webkit-datetime-edit-text { 	color: transparent; }
}
.varingInput{
	background-color: rgb(241, 107, 107);
	width: 100%;
	height: 30px;
	text-align: center;
	font-size: 25px;
	color: #FFF;
	position: absolute;
	z-index: 0;
	bottom: 50%;
	transition: 0.3s;
}
.hidenWindow{
	display: none;
	background-color: #9ACEEB;
	position:absolute;
	top: 0; left: 0;
	width: 100vw; height: 100%;
	z-index: 10;
	&__wrapper{
		width: 100%;
		height: 100%;
		position: relative;
	}
	&__center{
		display: flex;
		align-items: center;
		justify-content: center;
		z-index: 11;
		height: 30%;
	}
	&__button{
		background-color: rgba(0, 0, 0, 0);
		font-size: 35px;
		border: 3px solid #fff;
		padding: 10px 40px;
		border-radius: 10px;
		transition: 0.3s;
		color: #fff;
		z-index: 11;
		&:hover{
			background-color: #FCE38A;
			padding: 20px 50px;
		}
	}
	&__background{
		position:absolute;
		top: 0; left: 0;
		width: 100%; height: 100%;
		z-index: 10;
		& img{
			width: 100%;
			height: 100%;
		}
	}
	&.actives{display: block;}
	&.active {
		& .movementLeft{
			transform: translate(-300%);
		}
		& .movementRight{
			transform: translate(300%);
		}
		& .movementTop{
			transform: translate(0, -300%);
		}
		& .movementDisplay{
			display: block;
			opacity: 0;
		}
		& .hidenWindow__button{
			opacity: 0;
		}
		& .hidenWindow__text{
			opacity: 0;
			display: block;
		}
	}
	&.remove {
		& .movementLeft, .movementRight, .movementTop{
			display: none;
		}
		& .movementDisplay{
			transform: translate(0);
			opacity: 1;
		}
		& .hidenWindow__button{
			display: none;
		}
		& .hidenWindow__text{
			opacity: 1;
		}
	}
	&__text{
		transition: 0.3s;
		width: 50%;
		font-size: 35px;
		letter-spacing: 2px;
		color: #fff;
		display: none;
		padding: 10px;
		z-index: 19;
	}
}
.top{
	margin: 50px 0 0;
	display: flex;
	justify-content: space-between;
	width: 100%;
	height: 25%;
	z-index: 11;
	&__imgBox{
		position: relative;
		transition: 1s;
		flex: 0 0 20%;
		height: 100%;
		z-index: 11;
		& img{
			width: 100%;
			height: 100%;
		}
		&-revers{
			transform: scale(-1, 1)
		}
	}
}
img{pointer-events: none;}
::-webkit-scrollbar {
	width: 0;
}
.movementDisplay{
	transform: translate(-300%);
	display: none;
	& img{height: auto; width: 100%; padding: 20px;}
}
@media (max-width: 991.98px){
	.movementTop{display: none;}
	.deletImg{display: none;}
	.top__imgBox{flex: 0 0 33%;}
	.hidenWindow__text{
		font-size: 25px;
	}
}
@media (max-width: 426.98px){
	.deletImg2{display: none;}
	.top__imgBox{flex: 0 0 33%;}
	.hidenWindow__text{
		font-size: 15px;
		width: 80%;
		align-items: center;
	}
	.top{justify-content: center;}
	.top__imgBox{flex: 0 0 60%;}
}